<!DOCTYPE html>
<html lang="fr" ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title>Test chat WEBNC</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="IRC Webchat with BNC features">
    <meta name="author" content="HoLbLiN">
	
    <!-- php 2 js -- http://phpjs.org/ -->
    <script src="js/php2js.js"></script>

    <!-- Angular.js -- http://angularjs.org/ -->
    <script src="js/angular.min.js"></script>

		<!-- Terminal like font ! -- http://hivelogic.com/articles/top-10-programming-fonts -->
		<!-- <link href='http://fonts.googleapis.com/css?family=Inconsolata:400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'> -->
    <style type="text/css">
      @font-face {
        font-family: 'Inconsolata';
        font-style: normal;
        font-weight: 400;
        src: local('Inconsolata'), url(css/font/inconsolata.woff) format('woff');
      }
      @font-face {
        font-family: 'Inconsolata';
        font-style: normal;
        font-weight: 700;
        src: local('Inconsolata Bold'), local('Inconsolata-Bold'), url(css/font/inconsolata_bold.woff) format('woff');
      }
		</style>

		<!-- Jquery -->
		<script src="js/jquery.min.js"></script>
	
		<!-- Tinycon -- https://github.com/tommoor/tinycon -->
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<script src="js/tinycon.min.js"></script>
		<script>
			Tinycon.setOptions({
				width: 7,
				height: 10,
				font: '9px arial',
				colour: '#ffffff',
				background: '#549A2F',
				fallback: true
			});
		</script>
		
		<!-- Desktop Notification API Demo. -- http://0xfe.blogspot.com/2010/04/desktop-notifications-with-webkit.html -->
		<script src="js/webkitNotifications.js"></script>

    <script>
      var unread = 0;
      var notifier = new Notifier();


      function check_webkit_notification() {
        // hide all webkit-notification icons
        $("#webkit-notification a").hide();

        if (!notifier.HasSupport()) {
          $("#webkit-notification .notif-notsupport").show();
          return;
        }
        else {
          switch ( notifier.CheckPermission() ){
            case 0: // PERMISSION_ALLOWED
             $("#webkit-notification .notif-ok").show();
              break;
            case 1: // PERMISSION_NOT_ALLOWED
              $("#webkit-notification .notif-ask").show();
              break;
            case 2: // PERMISSION_DENIED
              $("#webkit-notification .notif-ko").show();
              break;
          }
        }
      }

      function clearOnFocus(){
        $(window).one('focus', function () {
          unread = 0;
          Tinycon.reset();
        })
      }
      
      function notify( icon , title , message ){
        if (enable_webkitNotifications){
          var notif = window.webkitNotifications.createNotification( icon, title, message);
          notif.show();
        }
        Tinycon.setBubble( ++unread );
        clearOnFocus();
      }

      $(function(){
        check_webkit_notification();
        $("#webkit-notification .notif-ask, #webkit-notification .notif-ko").click(function() {
          notifier.RequestPermission( check_webkit_notification() );
        });

        $("#webkit-notification .notif-ok").click(function() {
          $(this).hide();
          $("#webkit-notification .notif-pause").show();
        });
        $("#webkit-notification .notif-pause").click(function() {
          $(this).hide();
          $("#webkit-notification .notif-ok").show();
        });
      });
		</script>
    <script>
      $(function(){
        $("#audio-notification .audio-off").hide();

        $("#audio-notification .audio-on").click(function() {
          $(this).hide();
          $("#audio-notification .audio-off").show();
        })
        $("#audio-notification .audio-off").click(function() {
          $(this).hide();
          $("#audio-notification .audio-on").show();
        })
      })
    </script>

		
		<!-- Bootstrap -->
		<link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
		<script src="js/bootstrap.min.js"></script>
		
		<!-- Socket.IO -->
		<script src="js/socket.io.min.js"></script>
		
		<!-- Mustache -->
		<!-- <script src="js/mustache.min.js"></script> -->
		
    <!-- Sound Manager 2 -- http://www.schillmania.com/projects/soundmanager2/ -->


    <script src="test_angular.js"></script>

    <link href="css/sidebar.css" rel="stylesheet">

    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .messages td { font-family: 'Inconsolata', sans-serif; }
      .topic.affix { top: 35px; }
      html { overflow-y: scroll; }
    </style>

  </head>
  <body ng-controller="Webnc">

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">WEBNC</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right" ng-show="username != ''">
              Logged in as <a href="#" class="navbar-link">{{username}}</a>
            </p>
            <p class="navbar-text pull-right" ng-show="username == ''">
              Not logged !</a>
            </p>
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div ng-show="username == ''">
      <form class="well span4 offset5" style="text-align: center; margin-top: 10%;" ng-submit="login()">
        <h1>Login</h1>
        <div>
          <div class="input-prepend">
            <span class="add-on"><i class="icon-user"></i></span>
            <input class="span3 focus" type="text" id="login-username" name="username" focused placeholder="Username">
          </div>
        </div>
        <div>
          <div class="input-prepend">
            <span class="add-on"><i class="icon-lock"></i></span>
            <input class="span3" type="password" id="login-password" name="password" placeholder="Password">
          </div>
        </div>
        <div>
          <button type="submit" class="btn btn-primary">Sign in <i class="icon-globe icon-white"></i></button>
        </div>
      </form>
    </div>

    <div class="container-fluid" ng-show="username != ''">
      <div class="row-fluid">
        <div class="span3 bs-docs-sidebar">
          <div class="span3" data-spy="affix">
            <h1 ng-click="test()">Test</h1>
            <ul class="nav nav-list bs-docs-sidenav" ng-repeat="tab in tabs">

                <li id="menu_{{tab.key}}" class="server" ng-class="{ active : tab.key == selected_tab }">
                  <a ng-click="selectTab( tab.key )">{{tab.name}} <span class="pull-right"><span class="label label-warning" ng-show="tab.notifs">{{tab.notifs}}</span><span class="icon-chevron-right" ng-hide="tab.notifs"></span></span></a>
                </li>

                <li id="menu_{{chan.key}}" class="channel" ng-repeat="chan in tab.channels" ng-class="{ active : chan.key == selected_tab }">
                  <a ng-click="selectTab( chan.key )">{{chan.name}} <span class="pull-right"><span class="label label-warning" ng-show="chan.notifs">{{chan.notifs}}</span><span class="icon-chevron-right" ng-hide="chan.notifs"></span></span></a>  
                </li>
              </ul>
            </div>
          </div>


          <div class="span9">
            <div class="row-fluid" ng-repeat="tab in tabs">
              <div id="messages_{{tab.key}}" ng-show="tab.key == selected_tab">
                <div class="span12 well well-small topic" data-spy="affix" data-offset-top="20">{{tab.name}} -> {{tab.subject}}</div>
                <table class="table table-striped table-condensed table-bordered messages">
                  <thead>
                    <tr>
                      <th>Time</th>
                      <th>Pseudo</th>
                      <th>Message</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="message in tab.messages">
                      <td>{{message.date}}</td>
                      <td>{{message.from}}</td>
                      <td>{{message.content}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>


              <div id="messages_{{chan.key}}" ng-repeat="chan in tab.channels" ng-show="chan.key == selected_tab">
                <div class="span12 well well-small topic" data-spy="affix" data-offset-top="20">{{chan.name}} -> {{chan.subject}}</div>
                <table class="table table-striped table-condensed table-bordered messages">
                  <thead>
                    <tr>
                      <th>Time</th>
                      <th>Pseudo</th>
                      <th>Message</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="message in chan.messages">
                      <td>{{message.date}}</td>
                      <td>{{message.from}}</td>
                      <td>{{message.content}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div><!--/row-->
          </div><!--/span-->
        </div><!--/row-->
      </div><!--/.fluid-container-->
      <div class="navbar navbar-inverse navbar-fixed-bottom" style="position: fixed;  width: 100%;" ng-show="username != ''">
        <div class="navbar-inner">
          <div class="row-fluid">
            <div class="span3" style="padding: 15px;">
              <span id="webkit-notification">
                <a href="#" class="label label-important notif-ask" title="Cliquez pour authoriser les notifications"><span class="icon-info-sign icon-white"></span></a>
                <a href="#" class="label label-success notif-ok"    title="Notifications actives"><span class="icon-ok icon-white"></span></a>
                <a href="#" class="label label-warning notif-pause" title="Notifications désactivé"><span class="icon-pause icon-white"></span></a>
                <a href="#" class="label label-warning notif-notsupport"   title="Notifications non disponibles"><span class="icon-warning-sign icon-white"></span></a>
                <a href="#" class="label label-important notif-ko"  title="Notifications refusé"><span class="icon-minus-sign icon-white"></span></a>
              </span>
              <span id="audio-notification">
                <a href="#" class="label label-success audio-on" title="Notifications sonores actives"><span class="icon-volume-up icon-white"></span></a>
                <a href="#" class="label label-warning audio-off" title="Notifications sonore désactivé"><span class="icon-volume-off icon-white"></span></a>
              </span>
            </div>
            <div class="input-append span9" style="padding-top: 10px;">
              <input class="span11" id="appendedInputButton" type="text">
              <button class="btn" type="button">Envoyer</button>
            </div>
          </div>
        </div><!--/.fluid-container-->
      </div>
    </div>
  </body>
</html>